


	                                /* --- CABEÇALHO --- */
	                   
	            header{
	                display: flex;
		            flex-direction: row;
		            justify-content: space-between;
		            align-items: center;
	                position: fixed;
	                width: 99%;
	                margin-top: -8px;
	                margin-left: -3px;
	                background-color: rgba(0, 0, 0, 0.807);
	            }
	            li{
	                display: inline-block;
	                margin-left: 10px;
	                margin-right: 20px;
	            }
	            a{
	                color: white;
	                font-weight: bold;
	            }
	            img{
	                height: 30px;
	                width: 30px;
	                padding-top: 20px;
	                margin-left: 20px;
	            }
	            #tituloHeader{
	                font-size: 30px;
	            }
	
	                                /* --- CORPO --- */
	
	            body{
	                background-image: url("Imagem/GJwg9H3XUAA19zK.jpg");
	                background-repeat: no-repeat;
	                background-attachment: fixed;
	                background-size: cover;
	                background-position: center;
	            }
	            h1{
	                font-size: 14pt;
	                display: inline-block;
	                font-weight: bold;
	                color: white;
	            }
	            p{
	                font-weight: bold;
	            }
	            main{
	                display: flex;
	                align-items: center;
	                justify-content: center;
	                width: 100%;
	                flex-direction: column;
	                scroll-behavior: smooth;
	            }
	
	                                /* --- BLOCOS --- */
	
	            #Blocos{
	                display: flex;
	                align-items: center;
	                justify-content: center;
	                width: 100%;
	                flex-direction: column;
	                scroll-behavior: smooth;
	            }
	
	                                /* --- RODAPÉ --- */
	
	            footer{
	                display: flex;
	                align-items: center;
	                justify-content: center;
	                width: 100%;
	                color: white;
	            }
	
	                                /* --- MEDIA --- */
	
	            @media screen and (max-width: 500px) {
	
	                                /* --- MEDIA CABEÇALHO --- */
	
				header{
		                    	width: 100%;
					background-color: rgba(1, 31, 1, 0.623);
		                }
		
		                                /* --- MEDIA CORPO --- */
			    
		                body{
			                background-image: url("Imagem/backgroundcell.jpg");
			                background-repeat: no-repeat;
			                background-size: cover;
			                background-attachment: fixed;
		                }
		                main{
			                display: flex;
			                align-items: center;
			                justify-content: center;
			                width: 100%;
			                flex-direction: row;
			                scroll-behavior: smooth;
		                }
	                	h1{
	                    		font-size: 12pt;
	                	}

	                                /* --- MEDIA BLOCOS --- */
	
		                #Blocos{
			                width: 70%;
			                justify-content: center;
			                align-items: center;
			                height: 50vh;
		        	}
	        	}
